.orderTable{
    position: absolute;
    top:90px;
    text-align: center;
    width:100%;
}


.orderNo{
    cursor: pointer;
    text-decoration: underline;
}

.not_found_tag{
    position: absolute;
    top:100px;
    left:45%;
    align-content: center;
}
