.navbar{
    position: absolute;
    width:12%;
    height:100%;
    padding:0px;
    background-color: #263544;
}

@media only screen and (max-width: 1350px) {
    .navbar{width: 15%;}
}

.navbar-nav{
    position: absolute;
    top:100px;
}

.nav-item{
    margin-top:30px;
    margin-bottom:30px;
    cursor: pointer;
    height:40px;
}

.nav-link{
    color:#b7c0cd;
    margin-left:35px;
}

.sperator{
    position: absolute;
    top:80px;
    width: 100%;
    height:1px;
    left:0px;
    background-color: gray;
}

.navIcons{
    position: relative;
    left:10px;
    top:40px;
    color:#b7c0cd;
}

.userIcon{
    position: absolute;
    top:20px;
    left:20px;
    font-size:40px;
    color:#b7c0cd;
}

.logoutIcon{
    position:relative;
    top:0px;
}

.logoutTag{
    position: relative;
    top:-30px;
    left:30px;
}

.logoutWrapper{
    position: absolute;
    bottom:20px;
    left:20px;
    font-size: 20px;
    color:rgba(255,255,255,.5);
    cursor: pointer;
}

.logoutWrapper:hover {
    color:rgba(255,255,255,1);
}

.username{
    position: absolute;
    top:30px;
    left:70px;
    color:rgba(255,255,255,.5);

}

.Wrapper{
    cursor: pointer;
}

.Wrapper:hover .userIcon{
    color:rgba(255,255,255,1);
}

.Wrapper:hover .username{
    color:rgba(255,255,255,1);
}

.underline{
    position: relative;
    left:5px;
    top:0px;
    width:0;
    height:1px;
    background-color: white;
    transition:0.4s;
}

.nav-item:hover .underline{
    width:100%;
}

.nav-item:hover .navIcons, .nav-item:hover .nav-link{
    color:rgba(255,255,255,1);
}