.MainWrapper{
    position: absolute;
    left:12%;
    top:80px;
    width:88%;
    height:100%;
    background-color:#dee6ed;
    overflow: scroll;
}

@media only screen and (max-width: 1350px) {
    .MainWrapper{width:85%;left:15%;}
}


.editBtnWrapper{
    position: absolute;
    top:65px;
    right:10px;
}

.editIcon {
    position: relative;
    top:0px;
    right:0px;
    font-size:30px;
    cursor: pointer;
}

.editTag{
    position: relative;
    top:-65px;
    padding-left:10px;
    padding-right:10px;
    right:10px;
    font-size:18px;
    background-color:rgba(69, 77, 85, 0.3);
    color:black;
    border-radius: 15%;
    opacity:0;
    transition: 0.2s;
}

.editIcon:hover + .editTag{
    opacity:1;
}


.refreshBtnWrapper{
    position: absolute;
    top:65px;
    right:10px;
}

.refreshIcon {
    position: relative;
    top:0px;
    right:0px;
    font-size:30px;
    cursor: pointer;
}

.refreshTag{
    position: relative;
    top:-65px;
    padding-left:10px;
    padding-right:10px;
    right:10px;
    font-size:18px;
    background-color:rgba(69, 77, 85, 0.3);
    color:black;
    border-radius: 15%;
    opacity:0;
    transition: 0.2s;
}

.refreshIcon:hover + .refreshTag{
    opacity:1;
}